.gl-accessible-high-contrast-active,
.gl-accessible-high-contrast-black-on-white,
.gl-accessible-high-contrast-white-on-black,
.gl-accessible-high-contrast-fallback
{
    display: none;
}
/* use onresize event of an iframe of this class to detect high-contrast changes. */
.gl-accessibility-helper-iframe
{
    position: fixed;
    vertical-align: bottom;
    bottom: -100px;
    right: -100px;
    border-style: none;
    border-width: 0px;
    border-color: transparent;
    width: 1px;
    height: 1px;
}
@media screen and (-ms-high-contrast: active)
{
    .gl-accessibility-helper-iframe
    {
        width: 2px;
        height: 2px;
    }
    .gl-accessible-high-contrast-active
    {
        display: initial;
    }
    .gl-accessible-high-contrast-fallback
    {
        display: initial;
    }
    .gl-accessible-high-contrast-forbidden
    {
        display: none;
    }
}
@media screen and (-ms-high-contrast: white-on-black)
{
    .gl-accessibility-helper-iframe
    {
        height: 3px !important;
    }
    .gl-accessible-high-contrast-active,
    .gl-accessible-high-contrast-white-on-black
    {
        display: initial;
    }
    .gl-accessible-high-contrast-fallback
    {
        display: none !important;
    }
    .gl-accessible-high-contrast-forbidden
    {
        display: none;
    }
}
@media screen and (-ms-high-contrast: black-on-white)
{
    .gl-accessibility-helper-iframe
    {
        width: 3px !important;
    }
    .gl-accessible-high-contrast-active,
    .gl-accessible-high-contrast-black-on-white
    {
        display: initial;
    }
    .gl-accessible-high-contrast-fallback
    {
        display: none !important;
    }
    .gl-accessible-high-contrast-forbidden
    {
        display: none;
    }
}
